/* style.css — загальні стилі для Scheduler та сторінки */

body {
  margin: 0;
  font-family: sans-serif;
}

header, footer {
  background: #003366;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
}

main {
  display: flex;
  height: calc(100vh - 8rem);
}

#side {
  width: 200px;
  /* тут можна додати фільтри */
}

#dp {
  flex: 1;
  background: #fff;
  overflow: auto;
}

/* Додаткові класи для статусів кімнат */
.scheduler_default_rowheadercol2 .scheduler_default_rowheader_inner {
  top: 2px;
  bottom: 2px;
  left: 2px;
  background-color: transparent;
  border-left: 5px solid #1a9d13; /* green by default */
  border-right: none;
}
.status_dirty.scheduler_default_rowheadercol2 .scheduler_default_rowheader_inner {
  border-left-color: #ea3624;     /* red */
}
.status_cleanup.scheduler_default_rowheadercol2 .scheduler_default_rowheader_inner {
  border-left-color: #f9ba25;     /* orange */
}